[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
opentelemetry-instrumentation-fastapi = "*"
boto3 = "*"
json-logging = "*"
pydantic = { version = "*", extras = ['dotenv'] }
boto3-stubs = { version="*", extras = ['essential'] }

[dev-packages]
pre-commit = "*"
pytest = "*"
pylint = "*"
coverage = "*"
moto = "*"

[requires]
python_version = "3.9"
