[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
opentelemetry-instrumentation-fastapi = "*"
boto3 = "*"
json-logging = "*"
pydantic = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
pylint = "*"
coverage = "*"

[requires]
python_version = "3.9"
